body {
    display: flex;
    margin: 0;
    height: 100vh;
}

#board {
    max-width: 66vw;
    margin: auto 0;
    position: relative;
    border: 1px solid black;
    aspect-ratio: 5/4;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: calc(98vh - 2px);
    max-height: calc(66vw * 4/5);
}

#gameOverScreen {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 3s linear;
    z-index: 100;
}

#loginScreen {
    width: 60%;
    padding: 15% 20% 0% 20%;
}

#loginScreen > div > input {
    margin: 1%;
    font-size: large;
}

.displayNone {
    display: none !important;
}

#loginButton {
    margin: 1%;
    font-size: large;
}

.loginToggleContainer {
    display: flex;
    flex-flow: row-reverse;
}

#loginToggle {
    font-size: large;
}

#loginToggle:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

#errorMessage {
    color: rgb(255, 0, 0);
}

#chatContainer, #statsContainer {
    max-width: 24vw;
    width: calc( (98% - ((98vh - 2px) * 5/4)) / 2 );
    min-width: 16vw;
    height: calc(98vh - 2px);
    max-height: calc(66vw * 4/5);
    border: 1px black solid;
    margin: auto;
    visibility: hidden;
}

#chatWindow {
    height: calc(99.3% - 30px);
    min-height: 96%;
    position: relative;
    overflow-y: hidden;
}

#chatGradient {
    position: absolute;
    top: 0;
    height: 20%;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(255, 255, 255));
}

#messageContainer {
    position: absolute;
    width: 98%;
    bottom: 1%;
    left: 1%;
}

#messageContainer > div {
    font-size: larger;
    word-break: break-word;
}

#chatInput {
    height: 30px;
    max-height: 3.3%;
    width: 98%;
    margin: auto;
    font-size: large;
    display: block;
}

.tile {
    width: 5%;
    height: 6.25%;
    background-color: black;
}

#playerCharacter, .otherPlayerCharacter {
    position: absolute;
    width: 5%;
    height: 6.25%;
    transition: 0.5s;
}

#characterStatsTitle {
    margin: 1%;
    display: flex;
}

#characterName {
    margin-right: auto;
    font-size: 250%;
}

#characterLevel {
    margin-left: auto;
    font-size: 150%;
}

#healthBarContainer, #manaBarContainer {
    border: 1px solid black;
    margin: 1%;
    height: 5%;
    min-height: 25px;
    position: relative;
}

#expBarContainer {
    border: 1px solid black;
    margin: 1%;
    height: 3%;
    min-height: 15px;
    position: relative;
}

#hitPoints, #manaPoints, #expPoints {
    height: 100%;
    font-size: 130%;
    text-align: end;
    padding-right: 1%;
}

#healthBar, #manaBar, #expBar {
    transition: 1s;
    position: absolute;
    width: 0%;
    height: 100%;
    z-index: -1;
}

#healthBar {
    background-color: rgb(0, 228, 0);
}

#manaBar {
    background-color: rgb(0, 215, 230);
}

#expBar {
    background-color: lightgray;
}

#statsContainer {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#statsContainer::-webkit-scrollbar {
    display: none;
}

#skillsContainer {
    margin: 1%;
    font-size: larger;
}

#skillSelects {
    width: 100%;
    height: 10%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skillSelect {
    width: 100%;
    font-size: large;
    cursor: pointer;
}

.skillSelect > option {
    cursor: pointer;
}

#skillTree {
    margin-top: 1%;
    height: auto;
}

#skillTree img {
    width: 30%;
    border: black 1px solid;
    margin: auto;
}

.locked {
    filter: grayscale(100%);
}

.locked:hover {
    cursor: pointer;
    filter: grayscale(0%) 
}

.noSkillPoints {
    filter: grayscale(100%) !important;
    cursor: default !important;
}

#abilityTree, #gadgetTree{
    display: flex;
    flex-wrap: wrap;
}

#battleScreen {
    position: absolute;
    margin: auto;
    height: 0;
    aspect-ratio: 5/4;
    border: solid black 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    transition: 1s;
    overflow: hidden;
}

#textBar {
    height: 10%;
    overflow: hidden;
    border-bottom: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#textField {
  font-size: 150%;
  opacity: 1;
  transition: 0.3s;
}

#battleBar {
    height: calc(70% - 2px);
    position: relative;
    display: flex;
}

#enemySprite {
    height: 50%;
    margin: auto;
}

#animationOnEnemy {
    position: absolute;
    height: 50%;
    top: 20%;
    left: 15%;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

#damageOnEnemy {
    position: absolute;
    top: 25%;
    left: 15%;
    font-size: 150%;
    font-weight: bold;
}

#playerSprite {
    height: 50%;
    margin: auto;
}

#animationOnPlayer {
    position: absolute;
    height: 50%;
    top: 20%;
    right: 15%;
}

#damageOnPlayer {
    position: absolute;
    top: 25%;
    right: 15%;
    font-size: 150%;
    font-weight: bold;
}

#actionBar {
    height: 20%;
    border-top: 1px solid black;
    position: relative;
}

#actionBar > div {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0;
}

.battleButton {
    margin: auto;
    width: 20%;
    height: 40%;
    font-size: larger;
}